[submodule "support_samples"]
	path = support_samples
	url = https://github.com/eduardo-ufmg/support_samples
[submodule "sparse_rbf"]
	path = sparse_rbf
	url = https://github.com/eduardo-ufmg/sparse_rbf
[submodule "similarity_space"]
	path = similarity_space
	url = https://github.com/eduardo-ufmg/similarity_space
[submodule "store_datasets"]
	path = store_datasets
	url = https://github.com/eduardo-ufmg/store_datasets.git
[submodule "dissimilarity_score"]
	path = dissimilarity_score
	url = https://github.com/eduardo-ufmg/dissimilarity_score
[submodule "spread_score"]
	path = spread_score
	url = https://github.com/eduardo-ufmg/spread_score
[submodule "silhouette_score"]
	path = silhouette_score
	url = https://github.com/eduardo-ufmg/silhouette_score
